# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Flutter

on:
  push:
  pull_request:

jobs:
  build_ipa:
    name: Build iOS
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          architecture: x64
      - run: echo "${{ secrets.ENV_FILE }}" > .env
      - run: dart pub get
      - run: dart run build_runner build
      - run: flutter build ios --release --no-codesign

  build_apk:
    name: Build Android
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: echo "${{ secrets.ENV_FILE }}" > .env
      - run: dart pub get
      - run: dart run build_runner build
      - run: flutter build apk
      - run: flutter build appbundle
